body {
  font-family: 'Sonsie One';

}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-item {
  margin-right: 1.8rem;
  text-align: center;
}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  font-family: 'Sonsie One';

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

#bike-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.bike-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 2%;
  background: linear-gradient(135deg, orange, orange 60%, cyan);
}

h1#title {
  font-family: 'Sonsie One';
  color: blue;
  text-align: center;
}

h1#list-title-text {
  font-family: 'Sonsie One';
  color: grey;
  text-align: center;
}

img#bike {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 25%;
  }

  to {
    margin-left: 0%;
    width: 25%;
  }
}

footer {
  width: 100%;
  position: sticky;
  text-align: center;
}
